/**
Here is the link to my Figma mock up:
https://www.figma.com/file/JV9iUZsZrQHPcmIynYRRv3/Sprint-Mock-up?node-id=0%3A1
*/

/* Importing a font, Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* removing default styles and setting global attributes */

* {
  margin: 0;
  padding: 0;
  line-height: 1.15em;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease-in-out;
}

/* Styling the homepage */

body {
  background: #f6f4ee;
  margin: auto;
}

header {
  background: linear-gradient(
    #1c5e96,
    #2e78c7,
    #4ca4f7,
    #a8aeb5,
    #d7dcdf,
    #f6f4ee
  );
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

#colorCorrect {
  background-color: #1c5e96;
  position: absolute;
  top: 0;
  height: 48px;
  width: 100%;
}

#header {
  width: 100vw;
  display: flex;
  align-content: space-between;
}

#dropdown,
#header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: rgba(28, 94, 150, 0.7);
}

#stickyTitle {
  font-size: 42px;
  background: -webkit-linear-gradient(top, #d7dcdf, #2e78c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

#dropdownContent {
  display: none;
  position: absolute;
  background-color: rgba(40, 60, 80, 0.5);
  border-radius: 8px;
  border-top-left-radius: 0;
  width: 45%;
}

#dropdownContent a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: block;
}

#dropdown:hover #dropdownContent {
  display: block;
  left: 0;
  top: 48px;
}

#dropdown:hover #dropdownContent a:hover {
  transform: scale(1.2) translatex(10px);
}

#logo {
  margin: auto;
}

#homeNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

#ourStory,
#ourFood {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
}

#ourLocations,
#contactUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
}

.sectionSpan {
  grid-column: 1/3;
  text-align: center;
}

.sectionSpan2 {
  grid-column: 1/4;
  text-align: center;
}

#ourStory h2,
#ourLocations h2,
#ourFood h2,
#contactUs h2,
h2 {
  margin: 2rem 0;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(bottom, #d7dcdf, #2e78c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.locationLeft h3,
.locationRight h3 {
  margin: 0.75rem 0;
}

.locationLeft,
.locationRight {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

.sectionLeft {
  grid-column: 1/3;
  /* text-indent: 1rem; */
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.sectionRight {
  grid-column: 2/4;
  /* text-indent: 1rem; */
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.imageSectionRight {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.imageSectionLeft {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#contactUs {
  width: 100%;
  background: linear-gradient(
    #f6f4ee,
    #d7dcdf,
    #a8aeb5,
    #4ca4f7,
    #2e78c7,
    #1c5e96
  );
}

#contactUs div {
  margin-bottom: 1.25rem;
}

/* Styling mobile menu page */
#menuMain {
  width: 100%;
}

#menuPDF {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}
#describeMenu {
  display: none;
}

#interactiveMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  border: 2px solid #1c5e96;
  border-radius: 8px;
}

.detailsLeft,
.detailsRight,
.itemRight,
.itemLeft {
  width: 100%;
  height: 160px;
  margin: auto;
}

.menuLeft {
  grid-column: 1/2;
  position: relative;
  border: 2px solid #1c5e96;
}
.menuRight {
  grid-column: 2/3;
  position: relative;
  border: 2px solid #1c5e96;
}

.detailsLeft {
  background-color: #2e78c7;
  color: #f6f4ee;
  position: absolute;
  z-index: -1;
}
.itemLeft {
  background-color: yellow;
  z-index: 1;
}

.detailsRight {
  background-color: #2e78c7;
  color: #f6f4ee;
  position: absolute;
  z-index: -1;
}
.itemRight {
  background-color: purple;
  z-index: 1;
}

.menuLeft:hover .detailsLeft,
.menuLeft:focus .detailsLeft {
  transform: translateX(100%) translateX(4px);
  z-index: 1;
}

.menuRight:hover .itemRight,
.menuRight:focus .itemRight {
  background-color: red;
  transform: translateX(-100%) translateX(-4px);
  z-index: 1;
}

.menuName {
  padding-top: 0.5rem;
  text-align: center;
}

.menuDescribe {
  /* text-indent: 1rem; */
  padding: 0.5rem;
  font-size: 0.875rem;
}

/* styling the ordering mobile page */

#orderHead {
  width: 90%;
  margin: auto;
  /* text-indent: 1rem; */
}

#customerDetails h3,
#orderDetails h3 {
  margin: 1rem;
}
#custForm {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
  margin: auto;
}

.formLeft {
  grid-column: 1/2;
  text-align: end;
  padding-right: 0.5rem;
}

input,
label,
select {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  padding-left: 0.25rem;
}

select {
  width: 2.5rem;
}

#customerSubmit,
#orderSubmit {
  margin: 0.5rem 0.5rem;
}

#custGreet {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  /* text-indent:1rem; */
}

#orderForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* width: 90%; */
  margin: auto;
}

.formMidL,
.formMidR {
  text-align: end;
  padding-right: 0.25rem;
}
.formSpanStart {
  grid-column: 1/4;
  text-align: end;
  padding-right: 0.5rem;
  position: relative;
}
#orderItemDescribe {
  display: none;
  grid-column: 1/3;
  /* text-indent: 1rem; */
  text-align: start;
  padding-right: 0.5rem;
  position: absolute;
  background-color: #4ca4f7;
  border: 2px solid #2e78c7;
  border-radius: 8px;
  padding: 0.25rem;
  z-index: 1;
}

.formSpanStart:hover #orderItemDescribe {
  display: block;
}

#orderConfirmation {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  /* text-indent: 1rem; */
  text-align: center;
}

#customerDetails,
#orderDetails {
  background-color: #d7dcdf;
  width: 90%;
  margin: auto;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 0.5rem;
  border-radius: 16px;
  border: solid #a8aeb5 2px;
}

select,
input {
  border: #a8aeb5 solid 2px;
  border-radius: 8px;
  background-color: #f6f4ee;
  color: #2e78c7;
  line-height: 125%;
}

/* Media query to transition between mobile and desktop */

@media screen and (min-width: 768px) {

  /* Styling the home page for desktop */
  #dropdown img {
    display: none;
  }

  #dropdown,
  #header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #stickyTitle,
  #callMe {
    display: none;
  }

  #dropdownContent {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0;
  }

  #dropdown:hover #dropdownContent {
    display: flex;
    left: 0;
    top: 0;
  }

  #dropdown:hover #dropdownContent a:hover {
    transform: scale(1.2);
  }

  #dropdownContent {
    display: flex;
    position: relative;
  }

  #homeNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
  }

  #homeMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
  }

  #ourStory {
    grid-column: 1/3;
  }

  .locationLeft,
  .locationRight {
    grid-column: 1/3;
  }

  #ourFood {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #ourFood h2 {
    grid-column: 1/5;
  }

  #ourFood .imageSectionLeft {
    grid-column: 2/3;
  }
  #ourFood .sectionRight {
    grid-column: 3/5;
  }
  #ourFood .sectionLeft {
    grid-column: 2/4;
  }

  #ourFood .imageSectionRight {
    grid-column: 4/5;
  }

  #menuLink {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  #menuLink img {
    width: 80%;
  }
  #menuLink p {
    grid-column: 3/5;
    margin-right: 0.75rem;
  }

  #contactUs {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
  }

  /* styling the desktop menu page */
  #menuPDF {
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
  }

  #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
  }

  #describeMenu {
    display: flex;
    /* text-indent: 1rem; */
  }

  .detailsLeft,
  .detailsRight,
  .itemRight,
  .itemLeft {
    width: 50%;
    height: 200px;
    margin: auto;
  }

  .menuLeft {
    grid-column: 1/2;
    position: relative;
    border: 2px solid #1c5e96;
    display: flex;
  }
  .menuRight {
    grid-column: 2/3;
    position: relative;
    border: 2px solid #1c5e96;
    display: flex;
  }

  .detailsLeft {
    background-color: #2e78c7;
    color: #f6f4ee;
    position: relative;
    z-index: -1;
  }
  .itemLeft {
    background-color: yellow;
    z-index: 1;
  }

  .detailsRight {
    background-color: #2e78c7;
    color: #f6f4ee;
    position: relative;
    z-index: -1;
  }
  .itemRight {
    background-color: purple;
    z-index: 1;
  }

  .menuLeft:hover .detailsLeft {
    transform: translateX(0%) translateX(0px);
    z-index: 1;
  }

  .menuRight:hover .itemRight {
    background-color: red;
    transform: translateX(0%) translateX(0px);
    z-index: 1;
  }

  /* order page desktop styles */
  #orderHead,
  #customerDetails,
  #personalGreet,
  #orderDetails,
  #orderConfirmation {
    width: 750px;
    margin: auto;
  }
}
